@font-face {
  font-family: 'Inika';
  src: url('../assets/fonts/Inika-Bold.woff2')format('woff2'),
    url('../assets/fonts/Inika-Bold.woff')format('woff');
  font-weight: 700;
  font-display: swap;
  font-style: normal;
}

@font-face {
  font-family: 'Inika';
  src: url('../assets/fonts/Inika-Regular.woff2')format('woff2'),
    url('../assets/fonts/Inika-Regular.woff')format('woff');
  font-weight: 400;
  font-display: swap;
  font-style: normal;
}

@font-face {
  font-family: 'Inter';
  src: url('../assets/fonts/Inter-Bold.woff2')format('woff2'),
    url('../assets/fonts/Inter-Bold.woff')format('woff');
  font-weight: 700;
  font-display: swap;
  font-style: normal;
}

@font-face {
  font-family: 'Inter';
  src: url('../assets/fonts/Inter-Regular.woff2')format('woff2'),
    url('../assets/fonts/Inter-Regular.woff')format('woff');
  font-weight: 400;
  font-display: swap;
  font-style: normal;
}

@font-face {
  font-family: 'Inter';
  src: url('../assets/fonts/Inter-Light.woff2')format('woff2'),
    url('../assets/fonts/Inter-Light.woff')format('woff');
  font-weight: 300;
  font-display: swap;
  font-style: normal;
}