$color-bg: #EDF2EC;
$color-nav: #010201;
$color-maintext: #B1AEAD;
$color-primary: #499A18;
$color-text: #717171;
$color-additional: #E06733;
$color-description: #636060;


$content-width: 1222px;
$xl-width: 1280px;
$lg-width: 768px;
$m-width: 720px;
$sm-width: 380px;


